@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  -ms-box-shadow: $x $y $blur $spread $color;
  -o-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}

@mixin border($color){
  border-top: 1px solid lighten($color, 5%);
  border-right: 1px solid darken($color, 5%);
  border-bottom: 1px solid darken($color, 5%);
  border-left: 1px solid lighten($color, 5%);
}











