$font: Helvetica Neue,Helvetica,Arial,sans-serif;

$font-color: #333333;
$background-color: #ffffff;
$font-header-weight: 800;


$white: #fafafa;
$black: #333333;
$purple: #cc55cc;
$blue: #4488ff;
$cyan: #44aa99;
$green: #66bb44;
$yellow: #ffdd44;
$orange: #ff9944;
$red: #ee5544;

$shadow-color: rgba(0, 0, 0, 0.20);