$font: Helvetica, sans-serif;

$font-color: #333;
$background-color: #FFF;
$font-header-weight: 800;

$white: #FFF;
$green: #6B4;
$red: #E54;
$blue: #48F;
$yellow: #FC4;
$black: #333;

$shadow-color: rgba(0,0,0,.2);