/* Buttons: */
.button {
  padding: $button-padding;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.3;
  font-size: 18px;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 400;
}

.button.bg-white{
  @include border($white);
}
.button.bg-white:hover{
  background-color: hover($white);
}


.button.bg-black, .button.border-black{
  @include border($black);
}
.button.bg-black {
  color: $white;
}
.button.border-black {
  background-color: $white;
  color: $black}
.button.bg-black:hover, .button.border-black:hover{
  background-color: hover($black);
  color: $white;
}

.button.bg-purple, .button.border-purple{@include border($purple);}
.button.bg-purple {color: $white;}
.button.border-purple{
  background-color: $white;
  color: $purple;
}
.button.bg-purple:hover, .button.border-purple:hover{
  background-color: hover($purple);
  color: $white
}

.button.bg-blue, .button.border-blue{@include border($blue);}
.button.bg-blue{color: $white;}
.button.border-blue{
  background-color: $white;
  color: $blue;
}
.button.bg-blue:hover, .button.border-blue:hover{
  background-color: hover($blue);
  color: $white;
}

.button.bg-cyan, .button.border-cyan{@include border($cyan);}
.button.bg-cyan{color: $white;}
.button.border-cyan{
  background-color: $white;
  color: $cyan;
}
.button.bg-cyan:hover, .button.border-cyan:hover{
  background-color: hover($cyan);
  color: $white;
}

.button.bg-green, .button.border-green{@include border($green);}
.button.bg-green{color: $white}
.button.border-green{
  background-color: $white;
  color: $green;
}
.button.bg-green:hover, .button.border-green:hover{
  background-color: hover($green);
  color: $white
}

.button.bg-yellow, .button.border-yellow{@include border($yellow);}
.button.bg-yellow{color: $white}
.button.border-yellow{
  background-color: $white;
  color: $yellow;
}
.button.bg-yellow:hover, .button.border-yellow:hover{
  background-color: hover($yellow);
  color: $white
}

.button.bg-orange, .button.border-orange{@include border($orange);}
.button.bg-orange{color: $white}
.button.border-orange{
  background-color: $white;
  color: $orange;
}
.button.bg-orange:hover, .button.border-orange:hover{
  background-color: hover($orange);
  color: $white
}

.button.bg-red, .button.border-red, .button.bg-gradient-red{@include border($red);}
.button.bg-red, .button.bg-gradient-red{color: $white}
.button.border-red{
  background-color: $white;
  color: $red;
}
.button.bg-red:hover, .button.border-red:hover{
  background-color: hover($red);
  color: $white
}
.button.bg-gradient-red:hover{
  @include gradient(hover($red));
}