/* Background colors: */
.bg-white{background-color: $white;}
.bg-black{background-color: $black;}
.bg-purple{background-color: $purple;}
.bg-blue{background-color: $blue;}
.bg-cyan{background-color: $cyan;}
.bg-green{background-color: $green;}
.bg-yellow{background-color: $yellow;}
.bg-orange{background-color: $orange;}
.bg-red{background-color: $red;}

/* Foreground colors: */
.fg-white{color: $white;}
.fg-black{color: $black;}
.fg-purple{color: $purple;}
.fg-blue{color: $blue;}
.fg-cyan{color: $cyan;}
.fg-green{color: $green;}
.fg-yellow{color: $yellow;}
.fg-orange{color: $orange;}
.fg-red{color: $red;}
